.content
	float: left
	max-width: 70.52%
	height: 100% 
	margin-right: 15px
.doctor
	margin-top: 42px 
	&__header
		font-size: 1.875em
		font-weight: 300
	&__about
		margin-top: 21px 
	&__photo
		float: left
		margin-right: 22px 
	&__name
		font-size: 1.125em
		font-weight: 700
		line-height: 24px
	&__exp
		color: #666666
		font-size: 0.875em
		font-weight: 500
		line-height: 1.5em
		margin-left: 9px 
	&__text
		overflow: hidden
		text-overflow: clip
		height: 130px
		font-size: 0.875em
		line-height: 1.15em 
	.education
		max-width: 321px 
		&__title
			margin-top: 20px
			font-weight: 700
			line-height: 1.5em
		&__item
			font-size: 0.875em
			margin-top: 20px
			margin-left: 20px 
			&:before
				content: ""
				display: inline-block
				width: 8px
				height: 8px
				margin-right: 13px 
				margin-left: -20px 
				+s(circle)
	&__centers
		font-size: 1em 
		font-weight: 700
		line-height: 1.5em
		margin-top: 40px 
		margin-bottom: 10px 
.proflist

	&__item
		display: inline-block
		margin: 8px 10px 10px 0
	&__link
		display: block
		padding: 3px 10px
		border-radius: 5px
		background-color: #c4ebf6
		color: #333333
		font-size: 14px

.center
	width: 100%
	margin-bottom: 20px 
	border-radius: 5px
	background-color: #e6f3f7
	font-family: "Helvetica Neue", sans-serif
	font-size: 0.875em
	line-height: 1.4em
	+clr
	padding: 15px 
	&__left
		float: left
		margin-left: 7px 
	&__right
		float: right
		margin-right: 15px 
		+clr
	&__name
		color: #2596ca
		font-size: 1.3125em
		font-weight: 300
		line-height: 2.1875em
	&__metro:before
		content: ""
		display: inline-block
		+s(metro) 
		margin-right: 10px 
	&__street:before
		content: ""
		display: inline-block
		+s(map) 
		margin-right: 12px 

	&__text
		margin-top: 10px 
		color: #999999
		font-size: 0.8em
		font-weight: 700
		line-height: 1.2em
		text-align: center
	&__tel
		font-weight: 700
		line-height: 1.2em
		color: #000000
		font-size: 1.1em
		text-align: right
		
.experts
	text-align: center
	margin-right: -24px 
	font-size: 0 
	
+r(700)
	.content
		float: none
		max-width: 100%
		height: 100% 
		margin-right: 0
	.experts
		text-align: center
		margin-right: 0
	.doctor
		margin-top: 15px 
		.education
			margin-left: 5px 
+r(485)
	.doctor__header
		font-size: 1.5em 
	.doctor__name
		font-size: 1em 
	.doctor__exp
		display: block
	.doctor__text
		margin-left: 2px 
		height: 160px 
+r(390)
	.center
		margin-bottom: 10px 
		padding: 10px 
		&__left
			float: none
			margin-left: 0
		&__right
			float: none
			margin-right: 0
		&__tel
			text-align: center
		.button
			float: left