.content
	float: left
	max-width: 751px
	height: 100% 
	background-color: #ddd 

.doctor
	margin-top: 42px 
	&__header
		font-size: 30px
		font-weight: 300
	&__about
		margin-top: 21px 
	&__photo
		float: left
		margin-right: 22px 
	&__name
		font-size: 18px
		font-weight: 700
		line-height: 24px
	&__exp
		color: #666666
		font-size: 14px
		font-weight: 500
		line-height: 24px
		margin-left: 9px 
	&__text
		overflow: hidden
		text-overflow: clip
		height: 150px
		font-size: 14px
	&__education
		margin-top:  
		font-weight: 700
		line-height: 24px
.proflist
	&__item
		display: inline-block
		margin: 8px 10px 10px 0
	&__link
		display: block
		padding: 3px 10px
		border-radius: 5px
		background-color: #c4ebf6
		color: #333333
		font-size: 14px
