<!-- BEGIN bottom__form -->
<div class="bottom__form">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<form action="#" method="get" class="form">
			<!-- BEGIN form__inner -->
			<div class="form__inner">
				<input class="form__item" type="text" name="name" id="" placeholder="Имя">
				<input class="form__item" type="tel" name="tel" id="" placeholder="Телефон">

				<fieldset class="form__field">
					<legend class="form__legend">Ваш город</legend>
					<select name="spec" id="spec" class="form__item select">
						<option value="1">Санкт-Петербург</option>
						<option value="2">Москва</option>
						<option value="3">Воронеж</option>
						<option value="4">Пермь</option>
						<option value="5">Владивосток</option>
					</select>
				</fieldset> 

				<fieldset class="form__field">
					<legend class="form__legend">Услуга</legend>
					<select name="usl" id="usl" class="form__item select">
						<option value="1">МРТ головного мозга</option>
						<option value="2">МРТ гипофиза</option>
						<option value="3">МРТ глазных орбит</option>
						<option value="4">МРТ пазух носа</option>
					</select>
				</fieldset>

			</div>
			<!-- END form__inner -->

			<button type="submit" class="button button_big">Показать лучшие условия</button>
		</form>
		<!-- BEGIN telephone -->
		<div class="telephone">
			<div class="telephone__text">или просто звоните</div>
			<div class="telephone__number">+7 (812) 385-77-56</div>
		</div>
		<!-- END telephone -->
	</div>
	<!-- END wrapper -->
</div>
<!-- END bottom__form -->