<!-- BEGIN conditions -->
<div class="conditions">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<form action="#" method="get" class="common-form">
			<!-- BEGIN record__inner -->
			<div class="common-inner">
				<input class="common-input" type="text" name="name" id="" placeholder="Имя">
				<input class="common-input" type="tel" name="tel" id="" placeholder="Телефон">

				<div class="common-field">
					<div class="common-legend">Ваш город</div>
					<select name="spec" id="spec" class="select">
						<option value="1">Санкт-Петербург</option>
						<option value="2">Москва</option>
						<option value="3">Воронеж</option>
						<option value="4">Пермь</option>
						<option value="5">Владивосток</option>
						<option value="6">Екатеринбург</option>
						<option value="7">Волгоград</option>
						<option value="8">Ростов на Дону</option>
						<option value="9">Калининград</option>
						<option value="10">Минск</option>
						<option value="11">Киев</option>
					</select>
				</div> 

				<div class="common-field">
					<div class="common-legend">Услуга</div>
					<select name="usl" id="usl" class="select">
						<option value="1">МРТ головного мозга</option>
						<option value="2">МРТ гипофиза</option>
						<option value="3">МРТ глазных орбит</option>
						<option value="4">МРТ пазух носа</option>
					</select>
				</div>

			</div>
			<!-- END record__inner -->

			<button type="submit" class="button button_big">Показать лучшие условия</button>
		</form>
		<!-- BEGIN telephone -->
		<div class="telephone">
			<div class="telephone__text">или просто звоните</div>
			<div class="telephone__number">+7 (812) 385-77-56</div>
		</div>
		<!-- END telephone -->
	</div>
	<!-- END wrapper -->
</div>
<!-- END conditions -->