<!-- BEGIN content -->
<div class="content">
	{% include "partials/_breadcrumbs.html" %}
	<!-- BEGIN doctor -->
	<div class="doctor">
		<h2 class="doctor__header">Иванова Анна Сергеевна</h2> 
	
		<!-- BEGIN doctor__about -->
		<div class="doctor__about">
			<img class="doctor__photo" src="img/doctor.jpg" alt="доктор Иванова Анна Сергеевна">
			<h4 class="doctor__name">Иванова Анна Сергеевна<span class="doctor__exp">стаж 11 лет</span></h4>
			<ul class="proflist">
				<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
				<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
				<li class="proflist__item"><a href="#" class="proflist__link">Ортопед</a></li>
			</ul>
			<p class="doctor__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые отложения. Но существуют продукты, которые противостоят стрессу и улучшают настроения без вреда для вашей фигуры! Пожалеть себя. Скушать пирожок/пирожное/конфетку, чтобы поднять настроение. А после уже жалеть об этом. Мы живем в век, когда стрессовые ситуации окружают нас повсеместно, топчемся по кругу, заедая стресс вредной пищей, и впадая в депрессию из-за самобичевания и слабой силы воли. Мы подготовили для вас список продуктов, которые помогут снизить уровень стресса без увеличения вашего веса и вреда здоровью.
				1. Малина
			Малина, клубника, ежевика и черника – это оптимальный, наполненный клетчаткой и витаминами, десерт и перекус с низким содержанием калорий. Антиоксиданты в ягодах помогают предотвратить старение, вызываемое хроническим стрессом. Ягоды сдерживают резкие скачки сахара в крови, уменьшая тягу к сладкому в перерывах между приемами пищи. В отличие от других более сладких фруктов они не вызывают брожение в желудке, а наоборот — нормализуют пищеварение.
				2. Ромашка
			Отвар из ромашки не только прекрасно снижает напряжение нервной системы перед сном, но также содержит гиппуровую кислоту – вещество, которое уменьшает воспаление, возникающее в период стрессов. Если пить чай из ромашки после еды, то можно уменьшить колики, устранить запоры – симптомы, которые сопровождают синдром раздраженного кишечника у людей со стрессом.
				3. Темный шоколад
			Темный шоколад — и настроение на 70% выше! Темный шоколад с содержанием какао-бобов 70% и выше – помогает побороть стресс за счет выработки бета-эндорфинов. Шоколад является полезной сладостью, которая подавляет тягу к вредной пище (конфетам, чипсам, колбасе). Вещество фенилэтиламин в составе шоколада вызывает чувство эйфории.
				4. Орехи
			Орехи — лучшее средство для обмена веществ Орехи балансируют уровень сахара в крови, снижают тягу к сладкому, регулируют аппетит и стимулируют обмен веществ. В состоянии стресса определенные вещества расходуются быстрее. Орехи содержат магний, цинк, витамины группы В и жирные кислоты омега-3, которые необходимы уставшему от хронического перенапряжения телу. Растительные жиры в орехах являются полезными в отличие от жиров из колбас и свинины.
				5. Сельдерей
			Сельдерей — сытость и спокойствие Сельдерей содержит триптофан, который помогает организму производить вещество серотонин, необходимое для поддержания хорошего настроения и крепкого сна. Несколько стеблей сельдерея с арахисовой пастой в качестве перекуса перед сном помогут быстрее заснуть и не просыпаться из-за чувства голода.
				6. Солодка (Лакрица)
			Солодка (Лакрица) — помощь гормональной системе 1 стакан чая с корнем солодки поможет вам снять стресс. Солодка модулирует уровень гормона стресса — кортизола. С одной стороны, она поддерживает организм при гипофункции надпочечников, то есть когда кортизола слишком мало, а с другой – помогает снизить и нормализовать его количество при избытке.
				7. Жирная рыба Жирная рыба — подпитка для нервной системы Жирная рыба, такая как лосось, сардины и форель, содержит жирные кислоты омега-3, витамины группы В, магний и цинк – вещества, необходимые телу в стрессовых ситуациях. Жирные кислоты улучшают настроение, снижают воспалительные процессы и понижают тягу к сладкому. 8. Чеснок Чеснок — антибактериальная приправа Чеснок имеет мощные антибактериальные, противовирусные и противогрибковые свойства, которые помогают поддерживать иммунную систему в периоды стресса. Он также снижает воспаления суставов, которое возрастает на фоне стрессов. Два зубчика в овощном рагу с лимонным соком, орегано и оливковым маслом подарит букет вкусовых впечатлений и избавит от стресса.
			</p>
			<!-- BEGIN doctor__education -->
			<div class="doctor__education education">
				<h4 class="education__title">Образование:</h4>
				<ul class="education__list">
					<li class="education__item">Московская государственная медицинская академия (1991 г.)</li>
					<li class="education__item">Московская государственная медицинская академия (2000 г.)</li>
					<li class="education__item">Московская государственная медицинская академия (1991 г.)</li>
				</ul>
			</div>
			<!-- END doctor__education -->
		</div>
		<!-- END doctor__about -->
		<!-- BEGIN doctor__centers -->
		<div class="doctor__centers">
			Специалист принимает в центрах:
		</div>
		<!-- END doctor__centers -->
		<!-- BEGIN centers -->
		<div class="centers">
			<!-- BEGIN centers__left -->
			<div class="centers__left">
				<div class="centers__name">МРТ24 на Павелецкой</div>
				<div class="centers__metro">Павелецкая, Маяковская</div>
				<div class="centers__street">Павелецкая набережная, 7</div>
			</div>
			<!-- END centers__left -->
			<!-- BEGIN centers__right -->
			<div class="centers__right">
				<button class="centers__button button">Записаться</button>
				<div class="centers__text">или по телефону</div>
				<div class="centers__tel">+7 (812) 385-77-56</div>
			</div>
			<!-- END centers__right -->
		</div>
		<!-- END centers -->
	</div>
	<!-- END doctor -->

	<!-- BEGIN centers -->
		<div class="centers">
			<!-- BEGIN centers__left -->
			<div class="centers__left">
				<div class="centers__name">МРТ24 на Павелецкой</div>
				<div class="centers__metro">Павелецкая, Маяковская</div>
				<div class="centers__street">Павелецкая набережная, 7</div>
			</div>
			<!-- END centers__left -->
			<!-- BEGIN centers__right -->
			<div class="centers__right">
				<button class="centers__button button">Записаться</button>
				<div class="centers__text">или по телефону</div>
				<div class="centers__tel">+7 (812) 385-77-56</div>
			</div>
			<!-- END centers__right -->
		</div>
		<!-- END centers -->

	<!-- BEGIN experts -->
	<div class="experts">
		<div class="experts__head">Похожие специалисты</div>
		<!-- BEGIN expert -->
			{% include "partials/_experts.html" %}
		<!-- END expert -->
	</div>
	<!-- END experts -->

</div>
<!-- END content -->

