<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Ортопед</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->
<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Ортопед</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->
<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Ортопед</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->
<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->
<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->
<!-- BEGIN expert -->
<div class="expert">
	<div class="expert__top">
		<img src="img/expert.jpg" alt="" class="expert__img">
		<ul class="proflist">
			<li class="proflist__item"><a href="#" class="proflist__link">Хирург</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Травматолог</a></li>
			<li class="proflist__item"><a href="#" class="proflist__link">Ортопед</a></li>
		</ul>
	</div>
	<h4 class="expert__name">Смирнова Татьяна Петровна</h4>
	<p class="expert__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые </p>
</div>
<!-- END expert -->


{# {% import "data/experts.html" as items %}

<div class="expert">
	{% for item in items.expert %}
	<img src="{{item.img}}" alt="" class="expert__img">
	<ul class="proflist">
		<li class="proflist__item"><a href="#" class="proflist__link">{{item.prof1}}</a></li>
		<li class="proflist__item"><a href="#" class="proflist__link">{{item.prof2}}</a></li>
		<li class="proflist__item"><a href="#" class="proflist__link">{{item.prof3}}</a></li>
	</ul>
	<h4 class="expert__name">{{item.name}}</h4>
	<p class="expert__text">{{item.text}}</p>
	{% endfor %}
</div> #}

