<footer class="footer">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<!-- BEGIN footer__inner -->
		<div class="footer__inner">
			<!-- BEGIN footer__item -->
			<div class="footer__item">
				<h4 class="footer__title">О нас</h4>
				<ul class="footer__list list">
					<li class="list__item"><a href="#" class="list__link">Зачем мы это делаем</a></li>
					<li class="list__item"><a href="#" class="list__link">Контакты</a></li>
				</ul>
			</div>
			<!-- END footer__item -->

			<!-- BEGIN footer__item -->
			<div class="footer__item">
				<h4 class="footer__title">Пациентам</h4>
				<ul class="footer__list list">
					<li class="list__item"><a href="#" class="list__link">Как это работает?</a></li>
					<li class="list__item"><a href="#" class="list__link">Конфидициальность</a></li>
				</ul>
			</div>
			<!-- END footer__item -->

			<!-- BEGIN footer__item -->
			<div class="footer__item">
				<h4 class="footer__title">Мед. центрам</h4>
				<ul class="footer__list list">
					<li class="list__item"><a href="#" class="list__link">Как стать партнером?</a></li>
					<li class="list__item"><a href="#" class="list__link">Реклама</a></li>
				</ul>
			</div>
			<!-- END footer__item -->

			<!-- BEGIN footer__item -->
			<div class="footer__item">
				<h4 class="footer__title">База знаний</h4>
				<ul class="footer__list list">
					<li class="list__item"><a href="#" class="list__link">Болезни и симптомы</a></li>
					<li class="list__item"><a href="#" class="list__link">Публикации</a></li>
				</ul>
			</div>
			<!-- END footer__item -->
			</div>
		<!-- END footer__inner -->
	</div>
	<!-- END wrapper -->
</footer>