<!-- BEGIN record -->
<div class="record">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<h1 class="record__title">Онлайн запись в центр Европейский диагностический центр (ЕДЦ)</h1>
		<form action="#" method="get" class="common-form">
			<!-- BEGIN record__inner -->
			<div class="common-inner">
				<input class="common-input" type="text" name="name" id="" placeholder="Имя">
				<input class="common-input" type="tel" name="tel" id="" placeholder="Телефон">

				<div class="common-field">
					<div for="spec" class="common-legend">Выберите специализацию</div>
					<select name="spec" id="spec" class="select">
						<option value="1">МРТ</option>
						<option value="2">Операция</option>
						<option value="3">Неврология</option>
						<option value="4">Сердце</option>
						<option value="5">Позвоночник</option>
					</select>
				</div> 

				<div class="common-field">
					<div class="common-legend">Выберите услугу</div>
					<select name="usl" id="usl" class="select">
						<option value="1">МРТ головного мозга</option>
						<option value="2">МРТ гипофиза</option>
						<option value="3">МРТ глазных орбит</option>
						<option value="4">МРТ пазух носа</option>
					</select>
				</div>
			</div>
			<!-- END record__inner -->
			<!-- BEGIN record__inner -->
			<div class="common-inner">
				
				<label class="common-label">
					<div class="common-field">
						<div class="common-legend">Выберите дату</div>
						<input class="common-input picker" type="text" name="date" id="datepicker" placeholder="дд.мм">
						<span class="icon-arrow"></span>
					</div>
				</label>

				<label class="common-label">
					<div class="common-field">
						<div class="common-legend">Выберите время</div>
						<input class="common-input picker" type="text" name="time" id="timepicker" placeholder="12 : 30">
						<span class="icon-arrow"></span>
					</div>
				</label>
			</div>
			<!-- END record__inner -->
			
			<button type="submit" class="button button_big">Записаться</button>

		</form>
	</div>
	<!-- END wrapper -->
</div>
<!-- END record -->

