<aside class="sidebar">
	<ul class="navigation">
		<li class="navigation__item">Навигация по странице:</li>
		<li class="navigation__item"><a class="navigation__link" href="#">Иванова Анна Сергеевна</a></li>
		<li class="navigation__item"><a class="navigation__link" href="#">Другие специалисты</a></li>
	</ul>

	<!-- BEGIN special -->
	<div class="special">
		<div class="special__head">Осталось</div>
		<div class="special__number">5</div>
		<div>мест по специальной цене</div>
		<div class="special__text">Звоните сейчас</div>
		<a href="#" class="special__tel">+7 (812) 385-77-56</a>
	</div>
	<!-- END special -->
</aside>