<!-- BEGIN top-form -->
<div class="top-form">
	<!-- BEGIN container -->
	<div class="wrapper">
		<h1 class="form__title">Онлайн запись в центр Европейский диагностический центр (ЕДЦ)</h1>
		<form action="#" method="get" class="form">
			<!-- BEGIN form__inner -->
			<div class="form__inner">
				<input class="form__item" type="text" name="name" id="" placeholder="Имя">
				<input class="form__item" type="tel" name="tel" id="" placeholder="Телефон">

				<fieldset class="form__field">
					<legend class="form__legend">Выберите специализацию</legend>
					<select name="spec" id="spec" class="form__item select">
						<option value="1">МРТ</option>
						<option value="2">Операция</option>
						<option value="3">Неврология</option>
						<option value="4">Сердце</option>
						<option value="5">Позвоночник</option>
					</select>
				</fieldset> 

				<fieldset class="form__field">
					<legend class="form__legend">Выберите услугу</legend>
					<select name="usl" id="usl" class="form__item select">
						<option value="1">МРТ головного мозга</option>
						<option value="2">МРТ гипофиза</option>
						<option value="3">МРТ глазных орбит</option>
						<option value="4">МРТ пазух носа</option>
					</select>
				</fieldset>

			</div>
			<!-- END form__inner -->
			<!-- BEGIN form__inner -->
			<div class="form__inner">
				<fieldset class="form__field">
					<legend class="form__legend">Выберете время</legend>
					<select name="usl2" id="usl2" class="form__item select" placeholder="12 : 30">
						{# <option value="12:30">12 : 30</option> #}
						<option value="8:00">8:00</option>
						<option value="8:30">8:30</option>
						<option value="9:00">9:00</option>
						<option value="9:30">9:30</option>
						<option value="10:00">10:00</option>
						<option value="10:30">10:30</option>
						<option value="11:00">11:00</option>
						<option value="11:30">11:30</option>
					</select>
				</fieldset>
				
				<label class="form__label">
					<fieldset class="form__field">
						<legend class="form__legend">Выберите дату</legend>
						<input class="form__item form__date" type="date" name="date" id="date" placeholder="дд.мм">
						{# <label for="#date" class="date__label">дд.мм</label> #}
					</fieldset>
				</label>

				<label class="form__label">
					<fieldset class="form__field">
						<legend class="form__legend">Выберите время</legend>
						<input class="form__item form__time" type="time" name="time" value="12:30" list="time-list">
{# 						<datalist id="time-list">
							<option value="8:00">8:00</option>
							<option value="8:30">8:30</option>
							<option value="9:00">9:00</option>
							<option value="9:30">9:30</option>
							<option value=":">:</option>
							<option value=":">:</option>
							<option value=":">:</option>
							<option value=":">:</option>
							<option value=":">:</option>
							<option value=":">:</option>
						</datalist> #}
					</fieldset>
				</label>
			</div>
			<!-- END form__inner -->

			<button type="submit" class="button button_big">Записаться</button>

		</form>
	</div>
	<!-- END container -->
</div>
<!-- END top-form -->

